.App {
  text-align: center;
}

nav {
  background-color: rgb(231, 248, 204);
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  color: rgb(76, 188, 202);
  font-family: cursive;
}

.navleft a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(76, 188, 202);
}

nav ul li {
  list-style: none;
  display: inline-block;

  cursor: pointer;
  padding-left: 1rem;
}
nav ul li a {
  text-decoration: none;
  color: rgb(19, 78, 167);
}
nav ul li a:hover {
  text-decoration: none;
  color: rgb(76, 188, 202);
}
